.button {
    display: flex;

    align-items: center;
    justify-content: center;

    height: 100%;

    cursor: pointer;
    padding: 10px 20px;

    border: 0;
    border-radius: 8px;

    background-color: #009dff;
    color: #ffffff;

    transition: .2s;;
}

.transparent {
    color: #009dff;

    border: 1px solid #009dff;

    background-color: transparent;
}

.button:hover {
    background-color: #008be3;

    transition: .2s;
}

.button:active {
    transform: scale(0.9);
    transition: .2s;
}

.round {
    min-width: 35px;
    height: 35px;

    border-radius: 50%;

    padding: 10px 10px;

    font-size: 20px;
}