.todo {
    width: 100%;

    padding: 20px;
    margin: 20px 0;

    border-radius: 8px;

    font-size: 20px;

    background-color: #90f7ff;

    position: relative;

    display: flex;
    justify-content: space-between;
}

.todo input[type="checkbox"] {
    min-width: 25px;
    min-height: 25px;
}

.todo img {
    width: 35px;
    height: 35px;

    cursor: pointer;
}

.lineOff, .lineOn {
    position: absolute;
    margin: auto;
    height: 1px;
    background-color: black;

    top: 50%;
    left: 15%;
}

.lineOff {
    width: 0;
    transition: .3s;
}

.lineOn {
    width: 70%;

    transition: .3s;
}