body {
  background-color: #efefef;
  font-family: sans-serif;
}

.main {
  width: 65%;
  margin: auto;
}

.inputWrapper {
  margin-top: 20px;

  display: flex;
  align-items: center;
}

.inputWrapper > *:first-child {
  margin-right: 5px;
}

select {
  margin: 20px 0;
}

.lds-dual-ring {
  position: absolute;
  top: 20%;
  left: 50%;

  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #00d0ff;
  border-color: #00d0ff transparent #00d0ff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 800px) {
  .main {
    width: 96%;
  }
}